$imagen: 'https://cdn.pixabay.com/photo/2012/10/30/15/55/valley-63564_1280.jpg';
@use 'fondo';

#kanban{
    width: 95%;
    padding-left: 75px;
    margin-left: auto;
    margin-right: auto;
}

main{
    h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 15px;
        background-color: rgba(77, 72, 217, 0.5);
        color: white;
    }
}
.column {
    float: left;
    width: 17vw;
    margin: 9px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.699);
}

@mixin tarjeta($color: white){
    border-radius: 15px;
    width: 80%;
    margin: 15px auto;
    height: 140px;
    padding: 15px;
    background-color: $color;
}

.card {
    @include tarjeta(white);
    h3,p{
        margin-left:7px;
    }

}

.card:hover {
    transition: 0.2s;
    background-color: rgba(98, 75, 213, 0.757);
    color: white;
}

.card:hover .tag {
    color: rgb(38, 0, 163);
}

div{
    h2 {
    margin-left: 15px;
    }
}

%tag{
    float: left;
        margin: 5px;
        border-radius: 50%;
        color: white;
        width: 30px;
        height: 30px;
        text-align: center;
    }
    
    .front {
        @extend %tag;
        background-color: rgb(2, 190, 2);
        /* padding: 8px; */
    }
    
    .back {
        @extend %tag;
        background-color: red;
        /* padding: 8px 9px; */
    }
    
    .device {
        @extend %tag;
        background-color: yellow;
        /* padding: 8px 11px; */
    }
    
    .fas {
        margin: 7px 0px;
    }
